.job-post{
    display: flex;
    flex-direction: column;
    width:100%;
   

}

.job-post-mid{
    margin-top: 5vh;
    margin-left: 5vh;
    height:30%;
    display:flex;
    background-color:white;
    width: 80%;
    /* justify-content: center; */
    align-items: center;
    border:2px solid olive;
}

.mid-content{
    margin-left: 4vh;
   
}